@font-face{font-family:'Fraunces';font-weight:900;font-style:normal;src:url('fonts/Fraunces-900-normal.woff2') format('woff2')}
@font-face{font-family:'Fraunces';font-weight:600;font-style:normal;src:url('fonts/Fraunces-600-normal.woff2') format('woff2')}
@font-face{font-family:'Fraunces';font-weight:400;font-style:italic;src:url('fonts/Fraunces-400-italic.woff2') format('woff2')}
@font-face{font-family:'Fraunces';font-weight:600;font-style:italic;src:url('fonts/Fraunces-600-italic.woff2') format('woff2')}
@font-face{font-family:'Hanken Grotesk';font-weight:400;src:url('fonts/HankenGrotesk-400-normal.woff2') format('woff2')}
@font-face{font-family:'Hanken Grotesk';font-weight:500;src:url('fonts/HankenGrotesk-500-normal.woff2') format('woff2')}
@font-face{font-family:'Hanken Grotesk';font-weight:600;src:url('fonts/HankenGrotesk-600-normal.woff2') format('woff2')}
@font-face{font-family:'Hanken Grotesk';font-weight:700;src:url('fonts/HankenGrotesk-700-normal.woff2') format('woff2')}
@font-face{font-family:'Hanken Grotesk';font-weight:800;src:url('fonts/HankenGrotesk-800-normal.woff2') format('woff2')}
@font-face{font-family:'Space Mono';font-weight:700;src:url('fonts/SpaceMono-700-normal.woff2') format('woff2')}
